@import "tailwindcss";
*{
    box-sizing: border-box;
}
/*======================
    404 page
=======================*/
@utility filter-active {
  @apply bg-sky-200 text-blue-500 shadow-amber-500 shadow-sm  py-2 px-4 flex justify-center w-auto rounded-xl;
}
@utility filter-inactive{
  @apply  px-4 py-2 bg-gray-300 rounded-sm;
}
.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}